@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap');

body {
  background: #123549;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}

#grid-page-wrapper {
  justify-content: center;
  align-items: center;

  padding: 20px;
}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-preposition {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}
.filter-query {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.shiny-input-container {
  width: 50px !important;
  margin-bottom: 0px;
}

#hp, #mpg {
  margin-bottom: 15px;
}

.code-view {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 150%;
}

.code-view a {
  color: white;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 0 20%;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.nlq-styling .selectize-input {
  background-color: transparent !important;
  color: #2F80ED;
  border: none !important;
  font-size: 120%;
  outline: none !important;
  border-bottom: 1px dashed #2F80ED !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-align: center;
  /* padding-left: 40%; */
  padding-left: 0;
  padding-right: 0;
}
.nlq-styling .form-control {
  background-color: transparent !important;
  color: #2F80ED;
  border: none !important;
  font-size: 120%;
  outline: none !important;
  border-bottom: 1px dashed #2F80ED !important;
  border-radius: 0;
  box-shadow: none !important;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 5px !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}

.nlq-styling .selectize-control.single .selectize-input:after {
  opacity: 0;
  display: block !important;
}

.nlq-styling .selectize-control {
  width: 50px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.nlq-styling input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 0;
  display: none;
}
.nlq-styling input[type=number]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F80ED;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2F80ED;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-filters-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.nlq-styling .control-label,
.default-styling .preposition-affix {
  display: none;
}

.default-styling .control-label,
.nlq-styling .preposition-affix {
  display: block;
}

.default-styling .shiny-input-container {
  min-width: 300px;
}